.block{
	margin: 30px;
	border:1px solid #000;
	border-radius: 10px;
	width:800px;
	padding: 15px;
}

.inline{
	margin: 12px;
	padding: 15px;
	border: 1px solid #000;
	border-radius: 40px;
	width: 800px;
	height: 40px;
	display:block;
}

.image{
	margin: 15px;
	padding: 15px;
	width: 240px;
	height: 240px;
	border: 1px solid #000;
	border-radius: 150px;
	background:url("../assets/medium_ilarbi.jpg");
	background-position: top-right;
	display: inline-table;
}

.image:hover{
	background-image: url("../assets/kanzaki.jpeg"); 
	background-position: center;
	background-repeat:no-repeat;
	background-size: 100%;
}

.dashboard{
	border:1px solid #000;
	border-radius: 20px;
	background-image: url("https://cdn.intra.42.fr/coalition/cover/4/order_background.jpg");
	background-position: center;
}

.info{
	margin: 30px;
	font-size: 24px;
	color: #fff;
	display: inline-flex;
}